<div class="header-container header-2">
    <div id="topbar">
        <div class="container">
            <div class="nav">
              <div class="banner__run hidden-xs">
                {% include 'ap-multilang-box' %}
                {% if section.settings.header_infor_enable %}
                {% assign phone = section.settings.header_infor_phone %}
                {% assign email = section.settings.header_infor_email %}
                <ul id="contact-link">
                  <li> 
                    <a href="{{ section.settings.url_phone }}" title="Phone" class="shop-phone"> 
                      <i class="fa fa-phone"></i>
                      {% if phone != blank %}
                      <span class="info-contact">{{ phone }}</span>
                      {% endif %}
                    </a>
                  </li>
                  <li class="email"> 
                    <a href="{{ section.settings.url_email }}" title="Email"> 
                      <i class="fa fa-envelope"></i>
                      {% if email != blank %}
                      <span class="info-contact">{{ email }}</span>
                      {% endif %}
                    </a>
                  </li>
                </ul>
                {% endif %}
              </div>
                <div class="tools__right">
                    {% include 'block-cart' %}
                    {% include 'block-currentcies' %}
                    {% include 'block-userinfo' %}
                </div>
            </div>
        </div>
    </div>
    <div id="header-main">
        <div class="container">
            <div class="header-wrap">
                <div class="header-left">
                    <div id="header_logo">
                        {% if template == 'index' %}
                            <h1 class="" itemscope itemtype="http://schema.org/Organization">
                        {% else %}
                            <div class="" itemscope itemtype="http://schema.org/Organization">
                        {% endif %}
                        {% if section.settings.logo_use_image %}
                            <a href="/" itemprop="url">
                                <img src="{{ section.settings.logo | img_url: image_size }}" alt="{{ shop.name }}">
                              	<span class="hidden">{{ shop.name }}</span>
                            </a>
                        {% else %}
                            <a href="/" itemprop="url">{{ shop.name }}</a>
                        {% endif %}
                        {% if template != 'index' %}
                            </div>
                        {% else %}
                            </h1>
                        {% endif %}
                    </div>
                </div>
                
            </div>
        </div>
        <div class="header-right">
            {% if settings.apollo_megamenu_enable %}
                {% include 'block-menu' %}
            {% endif %}
            {% include 'block-search' %}
        </div>
    </div>
</div>